
        <h3 style="text-align: center; margin-top: 5%;"> Our Favorite Workshops</h3>
        <div id="section2">
            <div class="row" style=" width: auto;" >
                <div class="col-sm row-box" style="background-color:#3366ff;">
                    <img src="assets/images/bear.jpg" alt="bear" class="images">
                    <div>
                        <img src="assets/images/ic.jpg" alt="" class="ic">
                        <p style="color: white;"><u>Charlie Savely</u></p>
                        <p style="color: white;"><b>The WildLife Photography Workshop</b></p> 
                        <p style="color: white; text-align: right;">$299</p>
                    </div>
                </div>
                <div class="col-sm row-box" style="background-color:#408000;">
                    <img src="assets/images/photography.jpg" alt="bear" class="images">
                    <div>
                        <img src="assets/images/ic.jpg" alt="" class="ic">
                        <p style="color: white;"><u>Chris Bhurd</u></p>
                        <p style="color: white; width: 90%;"><b>The Business of Photography</b></p> 
                        <p style="color: white; text-align: right;">$299</p>
                    </div>
                </div>
                <div class="col-sm row-box" style="background-color:#ff1a1a;">
                    <img src="assets/images/mountaineer.jpeg" alt="bear" class="images">
                    <div>
                        <img src="assets/images/ic.jpg" alt="" class="ic">
                        <p style="color: white;"><u>Alex Strohl</u></p>
                        <p style="color: white; width: 90%;"><b>Adventure photography pro</b></p> 
                        <p style="color: white; text-align: right;">$299</p>
                    </div>
                </div>
            </div>
        </div>
    