
    <div id="section1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/y1VSQek9uZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="top">
            <h3>Imagine</h3>
            <h3>Innovate</h3>
            <h3>Implement</h3>
            <button id="btn">Explore Workshops</button>
        </div>
        <p style="width: 20%; margin:2% 15%; color: white;"><b>Creative discovery</b> for your adventures ahead.</p>
        <p style="width: 40%; margin:2% auto; color: white;">The fastest way to grow your startup with the most experienced mentor in the startup community.</p>
    </div>