
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="assets/images/swim.jfif" alt="swim" style="height: fit-content;width:100%;">
            </div>
            <div class="col-sm-6" style="padding: 5%;">
                <h4>Fostering enterpreneurship Culture</h4>
                <hr width="100%" color="black">
                <br>
                <h3>Made for Advancement</h3>
                <br><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="row" style="padding: 2em;">
            <div class="col-4" style="padding: 5%;">
                <h4>Proven Instructors</h4>
                <p>We have teamed up with field tested photographers to share their expertise.</p>
                <br><br>
                <button id="btn">Meet Your Instructors</button>
            </div>
            <div class="col-8" style="padding: 2rem;">
                <div class="row">
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man1.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man2.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man3.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man4.jfif" alt="" class="man">
                    </div>
                </div>
                <div class="row">
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man5.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man6.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man7.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man8.jfif" alt="" class="man">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    